<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="security-context.xml"/>
    <context:annotation-config/>
    <!--<context:component-scan base-package="com.technoserv.bio.kernel.*"/>-->
    <context:component-scan base-package="com.technoserv.db.*"/>
    <context:component-scan base-package="com.technoserv.rest.*"/>
    <context:component-scan base-package="com.technoserv.rest.resources"/>
    <context:component-scan base-package="com.technoserv.rest.model"/>
    <import resource="${data-source-context.xml.name}"/>
    <tx:annotation-driven/>

    <bean id="converters" class="java.util.HashMap" scope="prototype">
        <constructor-arg>
            <map key-type="java.lang.String" value-type="java.lang.String">
                <entry key="scanAndWeb" value="com.technoserv.rest.comparator.Compare2Photos"/>
                <entry key="Key 2" value="2"/>
            </map>
        </constructor-arg>
    </bean>

</beans>